.password-requirements li {
    display: flex;
    align-items: center;
  }
  
  .password-requirements li .check-icon {
    margin-right: 8px; /* Ajusta el espacio entre el ícono y el texto */
  }
  